
    .navbar {
      display: flex;
      font-size: 0.95rem;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background: #fff;
      border-bottom: 1px solid #f0f0f0;
    }
    .logo img{
        height: 80px;
        width: 80px;
    }
    .nav-links {
      display: flex;
      list-style: none;
    }
    .nav-links li {
      margin: 0 15px;
      position: relative;
    }
    .nav-links li:hover {
      color: #ff7300;
    }
    .nav-links a {
      text-decoration: none;
      color: #333;
      
    }
    .dropdown {
      position: absolute;
      top: 17px;
      width: max-content;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      padding: 10px;
      z-index: 1;
      font-size: 0.8rem;
      border-radius: 0 0 18px 18px;
    }
    .dropdown a {
      display: block;
      padding: 5px 10px;
      color: #333;
      text-decoration: none;
    }
    .dropdown a:hover {
      color: #ff7300;
    }
    .navbar li a:hover {
        color: #ff7300;
    }
    .contact-btn {
      padding: 12px 50px;
      border:1px solid #fe5900;
      cursor: pointer;
      background-color: #fff;
      border-radius: 25px;
      transition: all 0.4s ease;
    }
    button:hover{
        background: #ff7300;
        color: white;
    }
  