.content{
    height: 40vh;
    background-color: #402150;
}

.content{
    height: 20vh;
    width: 100wh;
    margin-top: -10px;
    background-color: #402150;
}
.content img{
    height: 20px;
    width: 20px;
 }